csv_data/
config/personal_key.py
.DS_Store
notebooks/.ipynb_checkpoints/
notebooks/__pycache__
notebooks/.Trash-0
notebooks/personal_key.py
notebooks/Untitled.ipynb
notebooks/Untitled1.ipynb
notebooks/Untitled2.ipynb
notebooks/Untitled3.ipynb
notebooks/Untitled4.ipynb
notebooks/Untitled5.ipynb